# Ignore Unity project folders inside LjudProject
Unity/LjudProject/[Ll]ibrary/
Unity/LjudProject/[Tt]emp/
Unity/LjudProject/[Oo]bj/
Unity/LjudProject/[Bb]uild/
Unity/LjudProject/[Bb]uilds/
Unity/LjudProject/[Ll]ogs/
Unity/LjudProject/[Uu]ser[Ss]ettings/

# Ignore MemoryCaptures and Recordings inside LjudProject
Unity/LjudProject/[Mm]emoryCaptures/
Unity/LjudProject/[Rr]ecordings/

# Visual Studio cache directory
Unity/LjudProject/.vs/

# Gradle cache directory
Unity/LjudProject/.gradle/

# Ignore solution and project files in LjudProject
Unity/LjudProject/*.csproj
Unity/LjudProject/*.sln
Unity/LjudProject/*.unityproj
Unity/LjudProject/*.suo
Unity/LjudProject/*.tmp
Unity/LjudProject/*.user
Unity/LjudProject/*.userprefs
Unity/LjudProject/*.pidb
Unity/LjudProject/*.booproj
Unity/LjudProject/*.svd
Unity/LjudProject/*.pdb
Unity/LjudProject/*.mdb
Unity/LjudProject/*.opendb
Unity/LjudProject/*.VC.db

# Ignore Unity meta files and crash reports
Unity/LjudProject/*.pidb.meta
Unity/LjudProject/*.pdb.meta
Unity/LjudProject/*.mdb.meta
Unity/LjudProject/sysinfo.txt

# Ignore builds and crashlytics
Unity/LjudProject/*.apk
Unity/LjudProject/*.aab
Unity/LjudProject/*.unitypackage
Unity/LjudProject/crashlytics-build.properties
